


h1{
  text-align: center;
}

#hearder-nav{
    background-color: grey;
    border-radius: 0;
    border:0;
}
.food{
     font-weight: bold; 

}

#main_you{
	   background-color: grey;
       margin: 6% 3% 0px 4%;
}
#nav-list{
	 margin-top: 10px;
}
#nav-list a{
	color: #E7E7E7;
	text-align: center;
}
#nav-list a:hover{
      background:red;
}
#nav-list a span{
	font-size: 1.9em;
}
.para {
    background-color: grey;
}